<%= form_with model: @game, local: true do |form| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this character from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :full_name %><br>
    <%= form.text_field :full_name %>
  </p>

  <p>
    <%= form.label :difficulty %><br>
    <%= form.text_field :difficulty %>
  </p>

  <p>
    <%= form.label :num_chapters, "Number of chapters" %><br>
    <%= form.number_field :num_chapters, min: 1 %>
  </p>

  <p>
    <%= form.label :min_team_size, "Recommended min. team size" %><br>
    <%= form.number_field :min_team_size, min: 1 %>
  </p>

  <p>
    <%= form.label :max_team_size, "Recommended max. team size" %><br>
    <%= form.number_field :max_team_size, min: 1 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
