<%= form_with(model: [ @game, characterMethod ]) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :recruitment_chapter %><br>
    <%= form.number_field :recruitment_chapter, min: 1, max: @game.num_chapters %>
  </p>
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
