<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<h2>Supports</h2>
<%= render @character.supports %>

<h2>Add a support:</h2>
<%= render 'supports/form' %>

<%= link_to 'Edit', edit_game_character_path(@game, @character) %> |
<%= link_to 'Back', game_path(@game) %>
